*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --index: aquamarine;
  --bookmark: #cf2fed;
  --create: #00a16e;
  --profile: #edac00;
  --light: #edf1ed;
  --dark: #333;
}

body {
  background-color: var(--light);
  color: var(--dark);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  margin: 100px 0 100px 0;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  padding: 10px 0 5px 0px;
}

/* header and footer colors*/
.header-index,
.footer-index {
  background-color: var(--index);
}
.header-bookmarks,
.footer-bookmarks {
  background-color: var(--bookmark);
}
.header-create,
.footer-create {
  background-color: var(--create);
}
.header-profile,
.footer-profile {
  background-color: var(--profile);
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

/* css für index.html */

.question-card {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: 1fr 0.5fr 0.5fr;
  margin: 10px 20px 10px 20px;
  padding: 10px 20px 10px 20px;
  text-align: center;
}

.question-card__answer {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr;
  margin: 10px 20px 10px 20px;
  padding: 10px 20px 10px 20px;
  text-align: center;
}

.question-card__question {
  grid-column: 1 / 5;
  justify-self: center;
}

/* button style */
.question-card_button,
.form__btn, 
.profile__btn {
  background-color: yellow;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  grid-column: 2 / 4;
  margin: 10px;
}

.btn:hover {
background-color: violet;
}

.question-grid--2-2 {
  font-weight: 600;
  grid-column: 1 / 6;
  margin: 10px;
}

/* tag style */
.question-card__list
{
  padding: 0;
  grid-column: span 5;
  grid-row: 3 / 4;
}

.question-card__list--2 {
  padding: 0;
  grid-column: span 5;
  grid-row: 4 / 5;
}
.question-card__list-list,
.skills__tag {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.tag-li--1 {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 5px;
}
.tag-li--2 {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 5px;
}
.tag-li--3 {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 5px;
}
.tag-li--4 {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 5px;
}

.card__bookmark {
  font-size: 3em;
  position: absolute;
  right: 10px;
  top: -10px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  flex-grow: 3;
  width: 100%;
  padding: 15px 0 10px 0;
}

.icons_footer {
  color: var(--dark);
  font-size: 2.2rem;
}

/* css für profile.html */
.profile {
  display: flex;
  flex-direction: column;
}
.profile__image {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 100px;
}

.profile__skills {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
