 /* button style */
 .question-card_button,
 .form__btn, 
 .profile__btn {
   font-weight: var(--fw-500);
   font-size: 0.8rem;
   text-transform: uppercase;
   background-color: #edae00a4;;
   height: 40px;
   border: 0px solid rgba(0, 0, 0, 0.5);
   border-radius: 3px;
   grid-column: 2 / 4;
   margin: 10px;
   padding: 0 10px 0 10px;
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
 }
 
 .question-card_button:hover,
 .form__btn:hover, 
 .profile__btn:hover  {
  transform: scale(1.1);
  transition: .2 ease-in;

 }