/* css für profile.html */
.profile {
    display: flex;
    flex-direction: column;
  }
  .profile__image {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 100px;
  }
  
  .profile__skills {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }
  